<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
    <!--<aop:aspectj-autoproxy />-->
    <context:annotation-config />
    <!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/> -->
    <context:component-scan base-package="com.zsy">
    </context:component-scan>
    
    <!-- 支持异步方法执行 -->
    <task:annotation-driven />

    <import resource="../dubbo/dubbo-provider.xml" />
    <import resource="../dubbo/dubbo-consumer.xml" />
    <import resource="../dubbo/dubbo-common.xml" />

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:properties/development.properties</value>
            </list>
        </property>
    </bean>

    <!--拦截异常-->


    <!--拦截验证-->


</beans>

